@import "./../../styles";

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  padding: 24px;
  max-width: 327px;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  border-radius: 1rem;

  .header-rating {
    z-index: 1;

    fa-icon {
      position: relative;
      color: $orange;
      vertical-align: baseline;

      &:after {
        z-index: -1;
        position: absolute;
        content: '';
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $dark-blue;
        top: 0;
        left: 0;
        transform: translate(-25%, -25%);
      }

      @include desktop {
        &:after {
          width: 48px;
          height: 48px;
          transform: translate(-30%, -30%);
        }
      }
    }

    h1 {
      color: $white;
      margin-top: 1.1rem;
      @include desktop {
        margin-top: 2rem;
      }
    }
  }

  p, li, label {
    color: $light-grey;
  }

  p {
    margin-top: 10px;
    line-height: 22px;
    @include desktop {
      margin-top: 15px;
    }
  }

  form {
    width: 100%;

    .radio-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-left: 0;
      margin-top: 24px;
      min-height: 42px;

      .radio {
        position: relative;
        list-style-type: none;

        .custom-checkbox {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 42px;
          width: 42px;
          background-color: $dark-blue;

          border-radius: 50%;
          cursor: pointer;

          &:hover {
            background-color: $orange;
            color: $white;
          }

          @include desktop {
            height: 51px;
            width: 51px;
          }
        }

        input[type=radio]:checked + label {
          background-color: $medium-grey;
          color: $white;
        }

        @include desktop {
          width: 51px;
          height: 51px;
        }
      }
    }

    button {
      width: 100%;
      border-radius: 22.5px;
      border-color: transparent;
      background-color: $orange;
      color: $white;
      font-weight: bold;
      letter-spacing: 1.87px;
      height: 45px;
      margin: 1.5rem 0 0;

      &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 45px;
      }

      @include desktop {
        margin: 2rem 0 0;
      }

      &:hover {
        background-color: $white;
        color: $orange;
        cursor: pointer;
      }
    }
  }

  @include mobile;
  @include desktop {
    max-width: 412px;
    padding: 32px;
  }

  .header-result {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      width: 144px;
      @include desktop {
        width: 162px;
      }
    }

    .resume-result {
      padding: 5px 12px;
      margin: 24px 0;
      color: $orange;
      background-color: $dark-blue;
      border-radius: 22.5px;
      @include desktop {
        margin: 32px 0;
      }
    }

    h2 {
      color: $white;
    }

    p {
      text-align: center;

      &:last-child {
        @include desktop {
          margin-bottom: 13px;
        }
      }

    }
  }
}

