@import "./../../styles";

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  padding: 24px;
  max-width: 327px;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  border-radius: 1rem;

  .header-rating {
    z-index: 1;
    fa-icon {
      position: relative;
      color: $orange;
      vertical-align: baseline;
      &:after{
        z-index: -1;
        position: absolute;
        content: '';
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $dark-blue;
        top: 0;
        left: 0;
        transform: translate(-25%, -25%);
      }
      @include desktop{
        &:after{
          width: 48px;
          height: 48px;
          transform: translate(-30%, -30%);
        }
      }
    }

    h1 {
      color: $white;
      margin-top: 1.1rem;
      @include desktop{
        margin-top: 2rem;
      }
    }
  }

  p, li, label {
    color: $light-grey;
  }

  p {
    margin-top: 10px;
    line-height: 22px;
    @include desktop {
      margin-top:  15px;
    }
  }

  form{
    width: 100%;
    .radio-wrapper{
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 24px;
      .radio{
        display: table;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: $dark-blue;
        p{
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          font-weight: bold;
          color: $medium-grey;
        }
        @include desktop {
          width: 51px;
          height: 51px;
        }
      }
    }
    button {
      width: 100%;
      border-radius: 22.5px;
      border-color: transparent;
      background-color: $orange;
      color: $white;
      font-weight: bold;
      letter-spacing: 1.87px;
      height: 45px;
      margin: 1.5rem 0 0 ;
      &:after{
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 45px;
      }
      @include desktop {
        margin: 2rem 0 0;
      }
    }
  }
  @include mobile;
  @include desktop {
    max-width: 412px;
    padding: 32px;
  }
}
rating-active {
  color: $white;
  &:after{
    background-color: $orange;
  }
}
