<main role="main">
  <div class="header-rating" role="heading">
    <fa-icon [icon]="faStar"></fa-icon>
    <h1>How did we do ?</h1>
  </div>
  <p>
    Please let us know how we did with your support request. All feedback is appreciated to help us improve our
    offering!
  </p>
  <form action="#">
     <input type="radio" id="" name="1 sur 5" value="HTML">
     <label for="html">1</label><br>
     <input type="radio" id="" name="2 sur 5" value="CSS">
     <label for="css">CSS</label><br>
     <input type="radio" id="javascript" name="fav_language" value="JavaScript">
     <label for="javascript">JavaScript</label>
    <input type="radio" id="javascript" name="fav_language" value="JavaScript">
    <label for="javascript">JavaScript</label>
    <input type="radio" id="javascript" name="fav_language" value="JavaScript">
    <label for="javascript">JavaScript</label>
  </form>

</main>
