<main role="main">
  <div class="header-rating" role="heading">
    <fa-icon [icon]="faStar"></fa-icon>
    <h1>How did we do ?</h1>
  </div>
  <p>
    Please let us know how we did with your support request. All feedback is appreciated to help us improve our
    offering!
  </p>
  <form aria-labelledby="submit">
    <ul>
      <li><input type="radio">1</li>
      <li><input type="radio">2</li>
      <li><input type="radio">3</li>
      <li><input type="radio">4</li>
      <li><input type="radio">5</li>
    </ul>
    <button id="submit" role="button" type="submit">SUBMIT</button>
  </form>
</main>
