@import "./../../styles";



main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  border-radius: 1rem;

  .header-rating {
    z-index: 1;
    h1 {
      color: $white;
      @include mobile {
        margin-top: 1rem;
      }
    }

    fa-icon {
      position: relative;
      color: $orange;
      vertical-align: baseline;
      &:after{
        z-index: -1;
        position: absolute;
        content: '';
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $dark-blue;
        top: 0;
        left: 0;
        transform: translate(-25%, -25%);
      }
    }

    @include mobile {
      margin-top: 1.5rem;
    }
  }

  p, li {
    color: $light-grey;
  }

  p {
    @include mobile {
      margin-top: 10px;
      line-height: 22px;
    }
  }

  ul {
    display: flex;
    list-style-type: none;
    @include mobile {
      margin-top: 1.5rem;
    }
  }

  button {
    width: 100%;
    border-radius: 22.5px;
    border-color: transparent;
    background-color: $orange;
    color: $white;
    font-weight: bold;
    letter-spacing: 1.87px;
    @include mobile {
      height: 45px;
      margin: 1.5rem 0 2rem 0 ;
      &:after{
        content: "";
        display: inline-block;
        height: 45px;
        vertical-align: middle;
      }
    }
  }


  @include mobile {
    max-width: 327px;
    padding: 0 24px;

  }
  @include desktop {
    padding: 0 32px;
  }
}
