<main role="main">
  <div class="header-rating" role="heading">
    <fa-icon [icon]="faStar"></fa-icon>
    <h1>How did we do ?</h1>
  </div>
  <p>
    Please let us know how we did with your support request. All feedback is appreciated to help us improve our
    offering!
  </p>
  <form aria-labelledby="submit">
    <ul>
      <li><p>1</p></li>
      <li><p>2</p></li>
      <li><p>3</p></li>
      <li><p>4</p></li>
      <li><p>5</p></li>
    </ul>
    <button id="submit" role="button" type="submit">SUBMIT</button>
  </form>
</main>
